/* ===========================================================================
   BPM Combined Asset File
   MANIFEST: NestedRecognizers ()
   This file is generated automatically by the bpm (http://www.bpmjs.org)    
   =========================================================================*/

.containerId{
  background: red;
  position: absolute; 
  top: 10px; 
  left: 420px; 
  width: 350px; 
  height: 350px;
  -webkit-tranform: translate3d(0,0,0)
}

.nestedId{
   background: blue;
   position: absolute; 
   top: 50px; 
   left: 50px; 
   width: 200px; 
   height: 200px;
   -webkit-tranform: translate3d(0,0,0)
}
